<!DOCTYPE html> {% load static %}
<html>

<head>

</head>
<style>
    h1 {
        text-align: center;
    }
</style>

<body class="body-st">
    <h1 style="color:#ffffff;">Market BUY</h1>
    <div class="grid-container">
        <div class="sgrid-container">
            <div class="text-grid">
                <input type="number" id="bar">
            </div>
            <div class="text-grid">
                <p id='result' class='result'> </p>
            </div>
            <div class="text-grid">
                <input type="number" id="amount">
            </div>
            <div class="text-grid">
                <p class='result'> Amount </p>
            </div>
            <div class="text-grid">
                <button id="newbuy-btn" class="sub-btn">Submit</button>
            </div>
        </div>
        <div class="table-wrapper1">

            <table id="list" class="fl-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Barcode</th>
                        <th>Price</th>
                        <th>N</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- and so on... -->
                </tbody>
            </table>
        </div>
    </div>
</body>
<link rel="shortcut icon" type="image/png" href="{% static 'ims/favicon.ico' %}" />
<link rel="stylesheet" href="{% static 'css/style.css' %}"> {% csrf_token %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/sell.js' %}"></script>
<script src="{% static 'js/shortcut.js' %}"></script>
{% block javascript %}{% endblock %}

</html>